.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 16px;
  background: transparent;
  /* border: none; */
  cursor: pointer;
  text-align: left;
  font-family: var(--font-body);
  font-size: var(--text-lg);
  transition: var(--transition-normal);
}

.nav-item__icon {
  width: 24px;
  text-align: center;
  font-weight: 700;
  flex-shrink: 0;
}

.nav-item--active {
  font-weight: 1000;
}
