.trend-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  padding: var(--space-3) 0;

  cursor: pointer;

  transition: var(--transition-normal);
}

.trend-item:not(:last-child) {
  border-bottom: 1px dashed var(--color-border-light);
}

.trend-item:hover {
  opacity: 0.8;
}

.trend-item__category {
  font-size: var(--text-xs);
  color: var(--color-text-secondary);
}

.trend-item__title {
  font-size: var(--text-md);
  font-weight: 700;
}

.trend-item__posts {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}
