.skeleton {
  background: linear-gradient(90deg, #e3e3e3 25%, #f5f5f5 50%, #e3e3e3 75%);

  background-size: 300% 100%;

  animation: skeleton-loading 1.2s linear infinite;

  border-radius: 999px;
}

@keyframes skeleton-loading {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: -100% 0;
  }
}
