body{

    background:var(--color-background);

    min-height:100vh;

}

button,
input,
textarea{

    font-family:inherit;

}

img{

    display:block;

    max-width:100%;

}

textarea{

    resize:none;

}

button{

    cursor:pointer;

}