.tabs {
  display: flex;

  align-items: center;

  gap: var(--space-2);
}

.tabs--full {
  width: 100%;
}

.tab {
  flex: 1;

  padding: var(--space-3);

  background: none;

  border: none;

  cursor: pointer;

  font-family: var(--font-body);

  font-size: var(--text-md);

  font-weight: var(--fw-bold);

  color: var(--color-text-muted);

  transition: var(--transition-normal);
}

.tab--active {
  color: var(--color-text);

  border-bottom: 3px solid var(--color-border);
}
